@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --corback: rgb(73, 73, 73);
    --cormain: rgb(48, 48, 48);
    --cornav: rgb(44, 44, 44);
    --corlaranja: rgb(194, 81, 5);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--corback);
    padding: 150px 10px;

}

header.pai {
    position: relative;

}

header.filho {
    background-image: linear-gradient(to bottom, var(--corback) 35%, var(--cormain));
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.links-p {
    margin: auto;
    text-decoration: none;
    border: 2px solid rgb(90, 90, 90);
    color: white;
    font-size: 0.8em; 
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.719);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    padding: 5px;
    transition-duration: .1s;
    transform: translate(0%, -25%);

}

.links-p:hover {
    font-weight: bold;
    background-color: rgb(255, 115, 0);
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.links-p:active {
    color: white;
}

nav.links-prin {
    display: flex;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

section#cabeca {
    max-width: 1000px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 10px;
}

section#cabeca img {
    width: 100%;
}
main {
    max-width: 800px;
    margin: auto;
    background-color: var(--cormain);
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

main#index {
    margin-bottom: 20px;
}

main#industrial  h2 {
    color: var(--corlaranja);

}

main#industrial > h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.801);

}

main#industrial > h1 {
    text-align: center;
}

main#contato {
    text-align: center;
    color: white;
}

section#ricardo-smart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#ricardopeixoto {
    width: 300px;
    margin: auto;
}

section#ricardopeixoto img {
    border-radius: 50%;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.459);
}

section#ricardopeixoto h1 {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.61);
}

section#smartphone {
    margin: auto;
    height: 454px;
    width: 230px;
    background: url("../imagens/frame-iphone.png") no-repeat;

}

div.contato {
    border: 4px solid var(--corback);
    border-radius: 15px;
    margin: 2px;
    display: flex;
    align-items: center;
}

iframe#smart {
    margin-top: 56px;
    margin-left: -10px;
    width: 190px;
    height: 335px;
}

nav.contatos-redes {
    margin-bottom: -20px;
}

nav.contatos-redes img {
    margin: 20px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.411);
}

nav.contatos-redes img:hover {
    box-shadow: 0px 0px 7px white;
    border: 2px solid rgba(255, 255, 255, 0.623);
    box-sizing: border-box;
}

nav#lista_produtos {
    list-style-position: inside;
    
}

nav#lista_produtos a{

    display: block;
    color: white;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.514);
    font-weight: bold;
    border-radius: 8px;
    transition-duration: .1s;
    
}
nav#lista_produtos a:hover {
    background-color: rgb(255, 115, 0);
    text-decoration: underline;
    color: rgb(48, 48, 48);
    
}
nav#lista_produtos a:active {
    color: white;
}

nav#lista_produtos li {
    margin-bottom: 12px;
    padding: 3px;

}

section.artigo-empresa {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.artigo-empresa img {
    border-radius: 50%;
}

article.artigo {
    max-width: 530px;
}

a.redes {
    margin: 0px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.514);
    font-weight: bold;
    border-radius: 8px;
    padding: 3px;
    transition-duration: .1s;
}

a.redes:hover {
    text-shadow: none;
    background-color: rgb(255, 115, 0);
    text-decoration: underline;
    color: rgb(48, 48, 48);
}

a.redes:active {
    color: white;
}

p#aline {
    text-align: center;
    padding-bottom: 20px;
}

p#aline > a {
    color: var(--corlaranja);
    text-decoration: none;
}

p#aline >a:hover {
    text-decoration: underline;
    font-weight: 600;
}

div.imgs {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border: 8px solid var(--corlaranja);     
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.493);
}

div.imgs img {
    height: 100%;
}

nav#imagens {
    text-align: center;
}

p.moveis {
    color: white;
    margin-bottom: 15px;
    text-indent: 25px;
    text-align: justify;
    line-height: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.808);
}

div.voltar img {
    border-radius: 10px;

}

div.voltar img:hover {
    box-shadow: 0px 0px 8px rgb(196, 196, 196);
    transition: 0.3s;
}

div.voltar {
    text-align: center;
    margin-top: 10px;

}

div.voltar img {
    width: 50px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

}

ul.lista {
    list-style-position: inside;
    color: white;
    
    
}
ul.lista > li {
    margin-bottom: 12px;
    text-shadow: 1px 1px 2px black;
}

footer {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--cormain);
    max-width: 800px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
}

footer a {
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.514);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--corlaranja);
}

footer p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-style: normal;
    padding: 15px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.61);
}

div.local {
    max-width: 800px;
}










@media(max-width: 600px) {
    .filho a {
        font-size: 0.6em;
        padding: 2.5px;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--corback);
        padding-top: 97px;
    
    }

    section#ricardopeixoto {
        margin-bottom: 30px;
    }

    #img-empresa {
        margin-bottom: 10px;
    }
    .contatos {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        font-size: 00.7em;
    }
}
