@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

img.click {
    width: auto;
    border-radius: 50%;
}

a {
    padding-top: 4px;
    display: block;
    background-color: rgb(194, 81, 5);
    text-align: center;
}
img.click:hover {
    box-shadow: 0px 0px 10px white;
}